:root {
  --flexoki-black: #100f0f;
  --tx: var(--flexoki-black);
  --flexoki-paper: #fffcf0;

  --flexoki-950: #1c1b1a;
  --flexoki-900: #282726;
  --flexoki-850: #343331;
  --flexoki-800: #403e3c;
  --flexoki-700: #575653;
  --flexoki-600: #6f6e69;
  --tx-2: var(--flexoki-600);
  --flexoki-500: #878580;
  --flexoki-300: #b7b5ac;
  --flexoki-200: #cecdc3;
  --flexoki-150: #dad8ce;
  --flexoki-100: #e6e4d9;
  --flexoki-50: #f2f0e5;

  --flexoki-red-600: #af3029;
  --flexoki-red-400: #d14d41;

  --flexoki-orange-600: #bc5215;
  --flexoki-orange-400: #da702c;

  --flexoki-yellow-900: #4d3a0b;
  --flexoki-yellow-600: #ad8301;
  --flexoki-yellow-400: #d0a215;
  --flexoki-yellow-100: #fceeb8;

  --flexoki-green-600: #66800b;
  --flexoki-green-400: #879a39;

  --flexoki-cyan-950: #142625;
  --flexoki-cyan-600: #24837b;
  --flexoki-cyan-400: #3aa99f;
  --flexoki-cyan-50: #ebf2e7;

  --flexoki-blue-600: #205ea6;
  --flexoki-blue-400: #4385be;

  --flexoki-purple-600: #5e409d;
  --flexoki-purple-400: #8b7ec8;

  --flexoki-magenta-600: #a02f6f;
  --flexoki-magenta-400: #ce5d97;

  --content-page-width: 50%;
  --header-font-size: 2rem;
  --subheader-font-size: 1.5rem;
  --text-font-size: 1.2rem;
}

body {
  width: 100vw;
  background-color: var(--flexoki-paper);
  font-family: "Eczar", serif;
  padding-bottom: 2rem;
}

h1 {
  color: var(--tx);
  font-size: var(--header-font-size);
}

p,
li,
div.subtext {
  color: var(--tx-2);
  font-size: var(--text-font-size);
  margin-block-end: 0;
  margin-block-start: 0;
}

label {
  color: var(--tx-1);
  font-size: var(--text-font-size);
}

hr {
  border: 1px solid var(--flexoki-orange-400);
  border-radius: 2px;
  width: 10rem;
}

form {
  width: var(--content-page-width);
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--flexoki-orange-400);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  row-gap: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid var(--tx);
  border-radius: 0.25rem;
}

input::placeholder {
  color: var(--tx-2);
}

.m-t-small {
  margin-top: 2rem;
}

form > div,
form > div > div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--tx-2);
}

a:hover,
a:focus {
  color: var(--flexoki-blue-600);
  text-decoration: underline;
}

div.main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 0;
}

.header {
  margin-bottom: 0;
}

.subheader {
  font-size: var(--subheader-font-size);
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;

  + p {
    text-align: center;
  }

  ~ button {
    margin-top: 1rem;
    width: fit-content;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--flexoki-orange-600);
    background-color: var(--flexoki-paper);
    border: 2px solid var(--flexoki-orange-400);
    font-family: "Eczar", serif;
    border-radius: 0.25rem;
  }

  ~ button:hover,
  ~ button:focus {
    background-color: var(--flexoki-orange-400);
    color: var(--flexoki-paper);
    fill: var(--flexoki-paper);
  }
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
  background-color: var(--flexoki-paper);
  border-color: var(--tx);
  width: 25%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: var(--content-page-width);
  text-align: center;
}

.menu {
  width: var(--content-page-width);

  .header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.add-new-item {
  color: var(--flexoki-orange-400);
  fill: var(--flexoki-orange-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  color: var(--flexoki-green-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  margin-left: auto;
  margin-top: 1rem;
  width: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--flexoki-green-600);
  background-color: var(--flexoki-paper);
  border: 2px solid var(--flexoki-green-600);
  font-family: "Eczar", serif;
  border-radius: 0.25rem;
}

.submit-button:focus,
.submit-button:hover {
  background-color: var(--flexoki-green-600);
  color: var(--flexoki-paper);
  fill: var(--flexoki-paper);
}

.new-item-container {
  display: flex;
  flex-direction: row;

  > input {
    width: 75%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

.new-item-instance {
  margin-top: 0.5rem;
}

.date-details {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

h2 + div.subtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

div.subtext p {
  text-align: center;
}

div > svg {
  fill: var(--tx-2);
}

div.subtext {
  position: relative;
}

div > svg:hover,
div > svg:focus {
  fill: var(--tx)
}

.popover {
  display: none;
  position: absolute;
  border: 2px solid var(--flexoki-orange-400);
  background-color: var(--flexoki-paper);
  padding: 1rem;
  bottom: 2.5rem;
  max-width: 15rem;
  right: -2.5rem;
}

.popover:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: -0.2rem;
  left: 7rem;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  background-color: var(--flexoki-orange-400);
  border-color: transparent transparent;
  rotate: 45deg;
}

svg:hover + .popover,
svg:focus + .popover {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 0px) and (max-width: 1200px){
  :root {
    --content-page-width: 90%;
    --header-font-size: 3rem;
    --text-font-size: 1.6rem;
    --subheader-font-size: 2rem;
  }

  h2.subheader + p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }



  div.subtext > svg {
    display: none;
  }
}